body{
margin:0;
font-family:Segoe UI, Arial, sans-serif;
background:#f4f6f8;
color:#333;
}

/* HERO SECTION */
.hero{
background:linear-gradient(to right,#0d47a1,#1976d2);
color:white;
text-align:center;
padding:80px 20px;
}

.hero h1{
font-size:48px;
margin-bottom:10px;
}

.hero p{
font-size:18px;
margin-bottom:25px;
}

.btn{
background:white;
color:#0d47a1;
padding:12px 25px;
text-decoration:none;
border-radius:30px;
font-weight:600;
}

/* NAVBAR */
.navbar{
background:white;
padding:15px;
text-align:center;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.navbar a{
margin:0 20px;
text-decoration:none;
color:#0d47a1;
font-weight:600;
}

/* SECTIONS */
section{
max-width:1100px;
margin:auto;
padding:60px 20px;
}

h2{
text-align:center;
color:#0d47a1;
margin-bottom:30px;
}

/* COURSES */
.courses{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.course-box{
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
text-align:center;
}

.course-box span{
display:block;
margin-top:15px;
font-weight:bold;
color:#1976d2;
}

/* FOOTER */
footer{
background:#0d47a1;
color:white;
text-align:center;
padding:20px;
}
